Repository lgr010519/miniprogram-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{md,json}": ["prettier --write"],
  "*.{wxml,wxs}": ["prettier --write"],
  "*.{js,jsx,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "*.{css,sass,scss,less}": ["stylelint --fix", "prettier --write"]
}

feat: 新增T-Degins组件库
  .gitignore
  README.md
  app.json
  package.json
  pages/index/index.json
  pages/index/index.wxml
  pnpm-lock.yaml
Due: prettier --write

feat: 更新npm版本
  package.json
  pnpm-lock.yaml
  project.config.json
  project.private.config.json
Due: prettier --write

feat: 添加用户无感重新获取接口数据
  .vscode/settings.json
  api/config.js
  api/wechat.js
  app.json
  config/index.js
Due: prettier --write, eslint --fix

feat: 添加通过wx登录code获取用户信息接口
  api/index.js
Due: prettier --write, eslint --fix

fix: 更新依赖
  .eslintrc.js
  .vscode/settings.json
  app.scss
  package.json
  pages/index/index.scss
  pages/logs/logs.scss
  pnpm-lock.yaml
  project.config.json
  project.private.config.json
Due: prettier --write, eslint --fix, stylelint --fix

fix: 完善api模块
  api/index.js
  project.config.json
  project.private.config.json
Due: prettier --write, eslint --fix

feat:修改模板
  pages/index/index.wxml
Due: prettier --write
